target/
*.class
*.jar
*.war

.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.iws
.project
.classpath
.settings/
*.launch

.DS_Store
*.swp
application-local.properties
application-prod.properties
